<div class="content-wrapper">
  <section class="content-header main-header-banner">
    <h1>{{ addEditPageTitle }}</h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary">
          <form class="add-restaurant-form" role="form">
            <fieldset>
              <legend><i class="fa fa-user fa-icon" aria-hidden="true"></i>Basic Information</legend>
              <div class="form-group col-md-6">
                <label>First Name</label>
                <input type="text" class="form-control" ng-model="customer.firstName" placeholder="Enter the First name">
              </div>
              <div class="form-group col-md-6">
                <label>Last Name</label>
                <input type="text" class="form-control" ng-model="customer.lastName" placeholder="Enter the Last name">
              </div>
              <div class="form-group col-md-6">
                <label>Email Address</label>
                <input type="email" class="form-control" ng-model="customer.email" placeholder="Enter the email address">
              </div>
              <div class="form-group col-md-6">
                <label>Phone Number</label>
                <input type="text" class="form-control" ng-model="customer.phone" placeholder="Enter the phone number">
              </div>
            </fieldset>
            <fieldset>
              <legend><i class="fa fa-address-book" aria-hidden="true"></i>Address Information</legend>
              <div class="form-group col-md-6">
                <label>Address</label>
                <input type="text" class="form-control" ng-model="customer.address" placeholder="Enter the address">
              </div>
              <div class="form-group col-md-6">
                <label>City</label>
                <input type="text" class="form-control" ng-model="customer.city" placeholder="Enter the city">
              </div>
              <div class="form-group col-md-6">
                <label>State</label>
                <input type="text" class="form-control" ng-model="customer.state" placeholder="Enter the state">
              </div>
              <div class="form-group col-md-6">
                <label>Country</label>
                <input type="text" class="form-control" ng-model="customer.country" placeholder="Enter the country">
              </div>
              <div class="form-group col-md-6">
                <label>Postcode</label>
                <input type="text" class="form-control" ng-model="customer.postcode" placeholder="Enter the postcode">
              </div>
            </fieldset>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary">{{ addEditSubmitButton }}</button>
                <button type="button" ui-sref="customers" class="btn btn-default">Cancel</button>
              </div>
            </div>
          </form>
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
</div>
