<div ng-controller="attributes">
	<div class="box data-list-box">
		<div class="add-button" ng-click="addEditAttribute('add')">
			<i class="fa fa-plus" aria-hidden="true"></i>
		</div>
		<!-- /.box-header -->
		<div class="box-body list-table">
			<table id="attributeList" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Attribute Name</th>
						<th>Attribute Values</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in dummyData">
						<td>{{$index +1 }}</td>
						<td>Size</td>
						<td>
							<ul class="attribute-values-list">
								<li ng-repeat="x in dummyData">7, </li>
								<li ng-repeat="x in dummyData">8, </li>
								<li ng-repeat="x in dummyData">9, </li>
							</ul>
						</td>
						<td>
							<div layout="row">
								<a ng-click="addEditAttribute($index)" data-toggle="tooltip" title="Edit Attribute!" data-placement="bottom" class="datatable-action">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
								</a>
								<a href="javascript:;" data-toggle="confirmation" title="Remove Attribute" data-content="Are you sure?" data-placement="left" data-popout="true" data-singleton="true" class="datatable-action remove-icon">
									<i class="fa fa-trash-o" aria-hidden="true"></i>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- /.box-body -->
	</div>

	<div class="modal fade" tabindex="-1" id="addEditAttribute" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{ attributeModalTitle }}</h4>
				</div>
				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label>Attribute Name</label>
							<input type="text" class="form-control" ng-model="attribute.name" placeholder="Enter name"/>
						</div>
						<div class="form-group">
							<label>Values</label>
							<textarea class="form-control" ng-model="attribute.values" placeholder="Enter values"></textarea>
							<small>*Multiple attribute values can be added separated by comma.</small>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" ng-click="addUpdateAttribute()" class="btn btn-primary">{{ addUpdateSubmitButton }}</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>