<div class="content-wrapper">
  <section class="content-header main-header-banner">
    <h1>Add New Restaurant</h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-default">
          <form class="add-restaurant-form" role="form">
            <fieldset>
              <legend><i class="fa fa-user fa-icon" aria-hidden="true"></i>Basic Information</legend>
              <div class="form-group col-md-6">
                <label>Restaurant Name</label>
                <input type="text" class="form-control" placeholder="Enter the name">
              </div>
              <div class="form-group col-md-6">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Enter the email">
              </div>
              <div class="form-group col-md-6">
                <label>Phone Number</label>
                <input type="text" class="form-control" placeholder=" Enter the phone Number">
              </div>
            </fieldset>
            <fieldset>
              <legend><i class="fa fa-address-book" aria-hidden="true"></i>Address Information</legend>
              <div class="form-group col-md-6">
                <label>City</label>
                <input type="text" class="form-control" placeholder="Enter the city">
              </div>
              <div class="form-group col-md-6">
                <label>State</label>
                <input type="text" class="form-control" placeholder="Enter the state">
              </div>
              <div class="form-group col-md-6">
                <label>Country</label>
                <input type="text" class="form-control" placeholder=" Enter the country">
              </div>
              <div class="form-group col-md-6">
                <label>Postcode</label>
                <input type="text" class="form-control" placeholder=" Enter the postcode">
              </div>
            </fieldset>
            <fieldset>
              <legend><i class="fa fa-bandcamp" aria-hidden="true"></i>Cuisines</legend>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="square">
                    Cusion 1
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="square">
                    Cusion 2
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="square">
                    Cusion 3
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="square">
                    Cusion 4
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="square">
                    Cusion 5
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="square">
                    Cusion 6
                  </label>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend><i class="fa fa-clock-o" aria-hidden="true"></i>Shift Information</legend>
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">Breakfast</h3>
                  <!-- <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div> -->
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="bootstrap-timepicker">
                          <div class="form-group">
                            <label>Start Time:</label>
                            <div class="input-group">
                              <input type="text" class="form-control timepicker">
                              <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="bootstrap-timepicker">
                          <div class="form-group">
                            <label>End Time:</label>
                            <div class="input-group">
                              <input type="text" class="form-control timepicker">
                              <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">Lunch</h3>
                  <!-- <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div> -->
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="bootstrap-timepicker">
                          <div class="form-group">
                            <label>Start Time:</label>
                            <div class="input-group">
                              <input type="text" class="form-control timepicker">
                              <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="bootstrap-timepicker">
                          <div class="form-group">
                            <label>End Time:</label>
                            <div class="input-group">
                              <input type="text" class="form-control timepicker">
                              <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">Dinner</h3>
                  <!-- <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div> -->
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="bootstrap-timepicker">
                          <div class="form-group">
                            <label>Start Time:</label>
                            <div class="input-group">
                              <input type="text" class="form-control timepicker">
                              <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="bootstrap-timepicker">
                          <div class="form-group">
                            <label>End Time:</label>
                            <div class="input-group">
                              <input type="text" class="form-control timepicker">
                              <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend><i class="fa fa-sitemap" aria-hidden="true"></i>Table Setup Information</legend>
              <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">Add New table</h3>
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool add-more-button" data-widget="collapse"><i class="fa fa-plus"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <div class="form-group col-md-4">
                    <label>Table Group</label>
                    <select class="form-control">
                      <option>option 1</option>
                      <option>option 2</option>
                      <option>option 3</option>
                      <option>option 4</option>
                      <option>option 5</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>Table Number</label>
                    <input type="number" class="form-control" placeholder="Enter table no.">
                  </div>
                  <div class="form-group col-md-3">
                    <label>No. of Seats</label>
                    <input type="number" class="form-control" placeholder=" Enter no. of seats">
                  </div>
                  <div class="col-md-2">
                    <button class="remove" ng-show="$last" ng-click="removeTableForm()">-</button>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend><i class="fa fa-plus-circle" aria-hidden="true"></i>Additional Information</legend>
              <div class="form-group col-md-6">
                <label>Max No. of Cover</label>
                <input type="number" class="form-control" placeholder="Enter no. of cover">
              </div>
              <div class="form-group">
                <label>Membership End Date</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" id="datepicker">
                </div>
              </div>
            </fieldset>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" ui-sref="restaurants" class="btn btn-default">Cancel</button>
              </div>
            </div>
          </form>
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
</div>
