<div class="content-wrapper">
  <section class="content-header main-header-banner">
    <h1>Add New User</h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary">
          <form class="add-restaurant-form" role="form">
            <fieldset>
              <legend><i class="fa fa-user fa-icon" aria-hidden="true"></i>Basic Information</legend>
              <div class="form-group col-md-6">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="Enter the First name">
              </div>
              <div class="form-group col-md-6">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Enter the Last name">
              </div>
              <div class="form-group col-md-6">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Enter the email">
              </div>
              <div class="form-group col-md-6">
                <label>Password</label>
                <input type="text" class="form-control" placeholder=" Enter the password">
              </div>
            </fieldset>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" ui-sref="users-list" class="btn btn-default">Cancel</button>
              </div>
            </div>
          </form>
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
</div>
