<div class="content-wrapper">
  <section class="content-header main-header-banner">
    <h1>Restaurants List</h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box data-list-box">
          <div class="add-button" ui-sref="add-restaurant">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
          <!-- /.box-header -->
          <div class="box-body restaurants-list-table">
            <table id="restaurants-list" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="x in dummyData">
                <td>Pizzarea</td>
                <td>Phase 8b</td>
                <td>Mohali</td>
                <td>Punjab</td>
                <td>India</td>
                <td>
                  <div layout="row">
                    <a ui-sref="add-restaurant" data-toggle="tooltip" title="Edit Restaurant!" data-placement="bottom" class="datatable-action">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:;" data-toggle="confirmation" title="Remove Restaurant" data-content="Are you sure?" data-placement="left" data-popout="true" data-singleton="true" class="datatable-action remove-icon">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                    <div class="restaurant-status">
                      <label class="switch" data-toggle="tooltip" title="Enable Restaurant" data-placement="bottom">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <a ui-sref="users-list" data-toggle="tooltip" title="Users List" data-placement="bottom" class="datatable-action">
                      <i class="fa fa-user-o" aria-hidden="true"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr ng-repeat="x in dummyData">
                <td>Pizza wings</td>
                <td>PLA</td>
                <td>Hisar</td>
                <td>Haryana</td>
                <td>India</td>
                <td>
                  <div layout="row">
                    <a ui-sref="add-restaurant" data-toggle="tooltip" title="Edit Restaurant!" data-placement="bottom" class="datatable-action">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:;" data-toggle="confirmation" title="Remove Restaurant" data-content="Are you sure?" data-placement="left" data-popout="true" data-singleton="true" class="datatable-action remove-icon">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                    <div class="restaurant-status">
                      <label class="switch" data-toggle="tooltip" title="Enable Restaurant" data-placement="bottom">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <a ui-sref="users-list" data-toggle="tooltip" title="Users List" data-placement="bottom" class="datatable-action">
                      <i class="fa fa-user-o" aria-hidden="true"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <tr ng-repeat="x in dummyData">
                <td>Dominos</td>
                <td>Phase 5</td>
                <td>Mohali</td>
                <td>Punjab</td>
                <td>India</td>
                <td>
                  <div layout="row">
                    <a ui-sref="add-restaurant" data-toggle="tooltip" title="Edit Restaurant!" data-placement="bottom" class="datatable-action">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:;" data-toggle="confirmation" title="Remove Restaurant" data-content="Are you sure?" data-placement="left" data-popout="true" data-singleton="true" class="datatable-action remove-icon">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                    <div class="restaurant-status">
                      <label class="switch" data-toggle="tooltip" title="Enable/Disable resstaurant" data-placement="bottom">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <a ui-sref="users-list" data-toggle="tooltip" title="Users List" data-placement="bottom" class="datatable-action">
                      <i class="fa fa-user-o" aria-hidden="true"></i>
                    </a>
                  </div>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
</div>
