<div class="login-page authentication-page">
  <div class="overlay"></div>
  <div class="login-box authentication-box">
    <div class="login-logo">
      <a><b>DiyoLiyo</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Forgot Password</p>

      <form novalidate>
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email" ng-model="loginData.email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Forgot Password</button>
          </div>
          <!-- /.col -->
          <div class="col-xs-12 other-link">
            <a ui-sref="login">Back to Login</a>
          </div>
        </div>
      </form>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
</div>