<aside class="main-sidebar" ng-controller="navigation">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview">
        <a is-active-nav ui-sref="dashboard">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="treeview">
        <a is-active-nav ui-sref="manage">
          <i class="fa fa-list" aria-hidden="true"></i> <span>Manage</span>
        </a>
      </li>
      <li class="treeview">
        <a is-active-nav ui-sref="products">
          <i class="fa fa-address-book" aria-hidden="true"></i> <span>Products</span>
        </a>
      </li>
      <li class="treeview">
        <a is-active-nav ui-sref="customers">
          <i class="fa fa-address-book" aria-hidden="true"></i> <span>Customers</span>
        </a>
      </li>
      <li class="treeview">
        <a is-active-nav ui-sref="orders">
          <i class="fa fa-address-book" aria-hidden="true"></i> <span>Orders</span>
        </a>
      </li>
      <!-- <li class="treeview">
        <a is-active-nav ui-sref="users-list">
          <i class="fa fa-list-alt" aria-hidden="true"></i> <span>Users</span>
        </a>
      </li>
      <li class="treeview">
        <a is-active-nav ui-sref="assign-users">
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i> <span>Assign Users</span>
        </a>
      </li> -->
      <!-- <li class="treeview active">
        <a is-active-nav ui-sref="bookings">
          <i class="fa fa-list" aria-hidden="true"></i> <span>Bookings</span>
        </a>
      </li>
      <li class="treeview">
        <a is-active-nav ui-sref="add-booking">
          <i class="fa fa-user-plus" aria-hidden="true"></i> <span>Add Booking</span>
        </a>
      </li>
      <li class="treeview">
        <a is-active-nav ui-sref="assign-table-to-booking">
          <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i> <span>Assign Table to Booking</span>
        </a>
      </li> -->
    </ul>
  </section>
</aside>